@using System.Linq
@using Acapedia.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/login.css" rel="stylesheet" type="text/css">
}

<div>
    <div id="login-cover-div">
        <section id="login-text">
            <p>Select a service to log in: </p>
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                var _ButtonIdText = "-signin-button";
                string _ButtonId;

                <form asp-controller="Account" asp-action="ExternalLogin" method="post">
                    @foreach (var provider in loginProviders)
                    {
                        _ButtonId = @provider.Name.ToString().ToLower() + _ButtonIdText;
                        <div id="@_ButtonId">
                            <span></span>
                            <input type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" />
                        </div>
                    }
                </form>
            }
        </section>
        <p class="extra-login-info">- For now, log in is experimental and doesn't serve much of a purpose.</p>
        <p class="extra-login-info">- More providers and functionality coming soon.</p>
        <br /> <br />
    </div>
</div>