
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <title>Acapedia</title>
    <link rel="icon" href="~/icons/icon-title-bar.svg" />
    <style>
        .not-supported {
            position: absolute;
                top: 50%;
                left: 32%;
        }
    </style>
</head>
<body>
    <div class="not-supported">
        We're working on supporting your browser. Check back in a few weeks.
    </div>
</body>
</html>


