<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="DIHoFAYj5k_8RnkZqca4R8ow-_Mw6iOK3NFD7TkeRD4" />
    <meta name="Description" content="Acapedia is a website that lets you browse all academic discipline. To get started, just go to the &quot;Explore.&quot; page">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://acapedia.azurewebsites.net/" />
    <meta property="og:title" content="Acapedia" />
    <meta property="og:description" content="Acapedia is a website that lets you browse all academic disciplines. To get started, just go to the &quot;Explore.&quot; page" />
    <meta property="og:image" content="https://acapedia.azurewebsites.net/icons/favicon-not-cropped.png" />
    <meta property="og:site_name" content="Acapedia" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @RenderSection("Styles", false)
    <title>Acapedia</title>
    <link rel="icon" href="~/icons/favicon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="~/icons/favicon.png">
    <script>
        function BrowserCompatibility()
        {
            let isIE = false || !!document.documentMode;
            let isEdge = !isIE && !!window.StyleMedia;

            if (isIE || isEdge)
            {
                location.replace("/NotSupported");
            }
        }

        BrowserCompatibility();
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a class="headericon" href="/">
                <img id="logoandtext" alt="Acapedia title" src="~/icons/icon-with-title.svg" />
                <img id="logo" alt="Acapedia title" src="~/icons/icon-main.svg" />
            </a>
            <a id="donate" href="/Home/Contribute">Contribute</a>
            <a id="about-info" href="/Home/About">About</a>
            @await Html.PartialAsync("_LoginPartial")
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="footer">
            <div class="copyrighttext">
                Copyright &copy; 2019 Acapedia Inc.<br />
                All rights reserved.
            </div>
            <div class="privacypolicy">
                <a id="privacypolicylink" href="/Home/PrivacyPolicy">Privacy Policy</a>
            </div>
            <div class="contact">
                <a id="contactlink" href="/Home/Contact">Contact</a>
            </div>
            <div class="facebookicon">
                <a id="facebookiconlink" href="https://www.facebook.com/Acapedia-2066828886776328" target="_blank">
                    <img alt="facebook-icon" src="~/icons/facebook.png" />
                </a>
            </div>
            <div id="twittericonlink" class="twittericon">
                <a href="https://twitter.com/aca_pedia" target="_blank">
                    <img alt="twitter-icon" src="~/icons/twitter.png" />
                </a>
            </div>
        </div>
    </div>
    <script src="~/js/layout.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>