<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @RenderSection("Styles", false)
    <title>Acapedia</title>
    <link rel="icon" href="~/icons/favicon.png" />
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a class="headericon" href="#">
                <img id="logoandtext" alt="Acapedia title" src="~/icons/icon-with-title.svg" />
                <img id="logo" alt="Acapedia title" src="~/icons/icon-main.svg" />
            </a>
            <a id="donate" href="#">Contribute</a>
            <a id="about-info" href="#">About</a>
            @await Html.PartialAsync("_LoginPartial")
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="footer">
            <div class="copyrighttext">
                Copyright &copy; 2018 Acapedia Inc. All rights reserved.
            </div>
            <div class="privacypolicy">
                <a id="privacypolicylink" href="#">Privacy Policy</a>
            </div>
            <div class="contact">
                <a id="contactlink" href="#">Contact</a>
            </div>
            <div class="facebookicon">
                <a id="facebookiconlink" href="#">
                    <img alt="facebook-icon" src="~/icons/facebook.png" />
                </a>
            </div>
            <div id="twittericonlink" class="twittericon">
                <a href="#">
                    <img alt="twitter-icon" src="~/icons/twitter.png" />
                </a>
            </div>
        </div>
    </div>
    <script src="~/js/layout.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>