#about-div {
    text-align: center;
}

#about-heading-text {
    font-size: 22px;
    margin-top: 50px;
    letter-spacing: 0.0725em;
}

#about-text {
    width: 750px;
    margin: auto;
    font-size: 15px;
    letter-spacing: 0.0725em;
    padding-top: 50px;
}

#divider {
    border-bottom: 1px double gray;
    width: 50%;
    margin: -10px auto;
}
