#contact-div {
    text-align: center;
    margin: 10% auto;
}

#contact-heading {
    font-size: 25px;
    letter-spacing: 0.0725em;
}

#divider {
    border-bottom: 1px double gray;
    width: 50%;
    margin: -10px auto;
}

#contact-text {
    padding-top: 30px;
    font-size: 16px;
    letter-spacing: 0.0725em;
}