.wrapper {
    grid-template-rows: auto;
}

.header {
    display: none;
}

a {
    color: #f0c674;
}

#error-info {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: var(--main-blue-color);
    --console-color: #00bfff;
    --console-info-color: #74ff14;
    color: var(--console-color);
    width: 90%;
    height: 90%;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    overflow: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 15px;
}

#error-type {
    position: relative;
    display: inline;
}

.typed-cursor {
    padding-left: 7px;
}

#error-code {
    color: var(--console-color);
    margin: 10% 0 10px 30px;
}

    #error-code i {
        color: var(--console-info-color);
    }

#error-url {
    color: var(--console-color);
    margin: 15px 0 10px 30px;
}

    #error-url i {
        color: var(--console-info-color);
    }

#error-descrip {
    color: var(--console-color);
    margin: 15px 0 10px 30px;
}

    #error-descrip i {
        color: var(--console-info-color);
    }

#error-cause {
    color: var(--console-color);
    margin: 15px 0 10px 30px;
}

    #error-cause i {
        color: var(--console-info-color);
    }

#some-pages {
    color: var(--console-color);
    margin: 40px 0 10px 30px;
}

#error-request {
    color: var(--console-color);
    margin: 15px 0 10px 30px;
}

#error-support {
    color: var(--console-color);
    margin: 15px 0 10px 30px;
}

#error-end {
    color: var(--console-color);
    margin: 30px 0 10px 30px;
    display: inline-block;
}

.footer {
    display: none;
}
