.wrapper {
    background-image: url('../images/book.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto 50px 80px 60px auto;
    text-align: center;
    margin: auto;
}

.find {
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    color: #35495e;
    letter-spacing: 0.3125rem;
    background-color: rgba(107, 142, 35, 0.37);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#find-text {
    padding-left: 9px;
    margin: auto;
    line-height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.explore-button {
    grid-row-start: 3;
    grid-row-end: 4;
    cursor: default;
    margin: auto;
    width: 130px;
    height: 5px;
    border: 2px solid #35495e;
    letter-spacing: 0.2125rem;
    overflow: hidden;
    padding: 10px 13px 18px 15px;
    position: relative;
    -webkit-transition: background 5s cubic-bezier(0.19, 1, 0.22, 1), border 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: background 5s cubic-bezier(0.19, 1, 0.22, 1), border 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: background 5s cubic-bezier(0.19, 1, 0.22, 1), border 1s cubic-bezier(0.19, 1, 0.22, 1), color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

    .explore-button p {
        color: #35495e;
        text-decoration: none;
        margin: auto;
    }

    .explore-button .mask {
        background-color: #35495e;
        height: 50px;
        position: absolute;
        -webkit-transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
        transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
        -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
        width: 200px;
    }

    .explore-button:hover {
        background-color: rgba(255, 255, 255, 0.05);
        -webkit-box-shadow: 0 0 5px #35495e;
        box-shadow: 0 0 5px #35495e;
        -webkit-transition: background 0s;
        -o-transition: background 0s;
        transition: background 0s;
    }

        .explore-button:hover p {
            color: #35495e;
        }

        .explore-button:hover .mask {
            background-color: rgba(255, 255, 255, 0.15);
            -webkit-transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
            transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
        }

    .explore-button:active {
        background-color: #35495e;
    }

        .explore-button:active p {
            color: #ccc;
        }

@media only screen and (max-width: 1000px) {
    .wrapper {
        background-image: none;
        background-color: var(--button-color);
    }

    .content {
        grid-template-rows: auto 75px 80px 60px auto;
    }

    .find {
        font-size: 14px;
        word-wrap: break-word;
    }

    #find-text {
        margin: 13px auto;
        line-height: 25px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
}
