.wrapper {
    background-color: var(--button-color);
}

.divider {
    border-bottom: 1px double gray;
    width: 50%;
    margin: -10px auto;
}

#privacy-policy-div {
    position: relative;
    width: 100%;
    text-align: center;
}

#privacy-policy-image {
    width: 90px;
    height: 90px;
    margin-top: 10px;
}

#privacy-policy-heading-div {
    padding-bottom: 50px;
    width: 100%;
}

#privacy-policy-heading {
    font-size: 20px;
    letter-spacing: 0.1125em;
}

#privacy-policy-heading-text {
    margin-top: 50px;
    font-size: 17px;
    letter-spacing: 0.0725em;
}

#privacy-policy-text-div {
    background-color: var(--main-background-color);
    text-align: center;
}

#privacy-policy-text {
    padding-top: 30px;
    font-size: 15px;
    width: 50%;
    margin: auto;
    letter-spacing: 0.0725em;
}

#privacy-policy-cookies {
    font-size: 17px;
    padding-top: 30px;
    letter-spacing: 0.0725em;
}

#privacy-policy-cookies-text {
    font-size: 15px;
    width: 50%;
    margin: auto;
    padding-top: 35px;
    letter-spacing: 0.0725em;
}

#privacy-policy-ads {
    font-size: 17px;
    padding-top: 30px;
    letter-spacing: 0.0725em;
}

#privacy-policy-ads-text {
    font-size: 15px;
    width: 50%;
    margin: auto;
    padding-top: 35px;
    letter-spacing: 0.0725em;
}

#privacy-policy-feedback {
    font-size: 17px;
    padding-top: 30px;
    letter-spacing: 0.0725em;
}

#privacy-policy-feedback-text {
    font-size: 15px;
    width: 50%;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 50px;
    letter-spacing: 0.0725em;
}
