.container {
    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: rgba(107, 142, 35, 0.19);
    height: 100vh;
    width: 100vw;
}

#redirect {
    grid-row-start: 2;
    grid-column-start: 2;
    font-size: 18px;
    margin: auto;
}

.lds-ring {
    position: relative;
    width: 64px;
    height: 64px;
    grid-row-start: 2;
    grid-column-start: 2;
    margin: 15px auto;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid rgba(53, 73, 94, 0.85);
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: rgba(53, 73, 94, 0.65) transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
