#u-top-level {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    padding: 0 0 3px 10px;
    transition: all 0.3s ease-out;
    margin: 0;
    width: 100%;
    height: 35px;
}

    #u-top-level::before {
        content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAwklEQVQ4jWNkgAJTrwQDRoZ/AQw4wf8tp7YtPoMuyghjmHnFNfz/z1CP2wCGD//+Mlme3bXgBrIgEx4N6ECAifnvVkPPRFFyDWBgYGBUYvn/d4ODQwIHmQYwMDAwMlh95fyfQ74BDAwMjIz/eSgyABlQbAALNkEJuWcMzCx/UcT+/mFmePFIik4uwGYTSQZw831lEBB5hyL2/rUQw7fP3BhqaeOFr5+4Gb5+wrQNG6CeC/4zMG1gZPxHlKa/f/9tgrEBkxMzb34pi/oAAAAASUVORK5CYII=');
        display: inline-block;
        margin: 8px 5px 5px 0;
    }

    #u-top-level:hover {
        background-color: rgba(53, 73, 94, 0.85);
        color: #ddd;
        box-shadow: 0 0 1px #35495e;
        border-radius: 1px;
    }