
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/app.css")" rel="stylesheet" type="text/css" />
}

<div id="top-div">
    <div id="h-title">
        <p id="h-title-text">Formal Sciences</p>
    </div>
    <div id="ec-buttons">
        <div id="expand-button">
            <p>
                Expand All
            </p>
        </div>
        <div id="collapse-button">
            <p>
                Collapse All
            </p>
        </div>
    </div>
    <div id="discip-list">
        <ul>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Computer Science</span>
                <ul class="children">
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Logic in computer science</span>
                        <ul class="children">
                            <li class="no-child">Formal methods</li>
                            <li class="no-child">Logic programming</li>
                            <li class="no-child">Multi-valued logic</li>
                            <li class="no-child">Fuzzy logic</li>
                            <li class="no-child">Programming language semantics</li>
                            <li class="no-child">Type theory</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Algorithms</span>
                        <ul class="children">
                            <li class="no-child">Computational geometry</li>
                            <li class="no-child">Distributed algorithms</li>
                            <li class="no-child">Parallel algorithms</li>
                            <li class="no-child">Randomized algorithms</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Artificial intelligence</span>
                        <ul class="children">
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Cognitive science</span>
                                <ul class="children">
                                    <li class="no-child">Automated reasoning</li>
                                    <li class="no-child">Computer vision</li>
                                    <li>
                                        <span class="is-icon">+</span><span class="is-parent">Machine learning</span>
                                        <ul class="children">
                                            <li class="no-child">Artificial neural network</li>
                                            <li class="no-child">Support vector machine</li>
                                        </ul>
                                    </li>
                                    <li class="no-child">Natural language processing</li>
                                </ul>
                            </li>
                            <li class="no-child">Expert systems</li>
                            <li class="no-child">Robotics</li>
                        </ul>
                    </li>
                    <li class="no-child">Data structures</li>
                    <li class="no-child">Computer architecture</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Computer graphics</span>
                        <ul class="children">
                            <li class="no-child">Image processing</li>
                            <li class="no-child">Scientific visualization</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Computer communications</span>
                        <ul class="children">
                            <li class="no-child">Cloud computing</li>
                            <li class="no-child">Information theory</li>
                            <li class="no-child">Internet, World Wide Web</li>
                            <li class="no-child">Ubiquitous computing</li>
                            <li class="no-child">Wireless computing (Mobile computing)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Computer security and reliability</span>
                        <ul class="children">
                            <li class="no-child">Cryptography</li>
                            <li class="no-child">Fault-tolerant computing</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Computing in mathematics, natural sciences, engineering, and medicine</span>
                        <ul class="children">
                            <li class="no-child">Algebraic (symbolic) computation</li>
                            <li class="no-child">Computational biology (bioinformatics)</li>
                            <li class="no-child">Computational chemistry</li>
                            <li class="no-child">Computational mathematics</li>
                            <li class="no-child">Computational neuroscience</li>
                            <li class="no-child">Computational number theory</li>
                            <li class="no-child">Computational physics</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Computer-aided engineering</span>
                                <ul class="children">
                                    <li class="no-child">Computational fluid dynamics</li>
                                    <li class="no-child">Finite element analysis</li>
                                </ul>
                            </li>
                            <li class="no-child">Numerical analysis</li>
                            <li class="no-child">Scientific computing (Computational science)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Computing in social sciences, arts, humanities, and professions</span>
                        <ul class="children">
                            <li class="no-child">Community informatics</li>
                            <li class="no-child">Computational economics</li>
                            <li class="no-child">Computational finance</li>
                            <li class="no-child">Computational sociology</li>
                            <li class="no-child">Digital humanities</li>
                            <li class="no-child">History of computer hardware</li>
                            <li class="no-child">History of computer science</li>
                            <li class="no-child">Humanistic informatics</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Database</span>
                                <ul class="children">
                                    <li class="no-child">Distributed database</li>
                                    <li class="no-child">Object database</li>
                                    <li class="no-child">Relational database</li>
                                </ul>
                            </li>
                            <li class="no-child">Data management</li>
                            <li class="no-child">Data mining</li>
                            <li class="no-child">Information management</li>
                            <li class="no-child">Information retrieval</li>
                            <li class="no-child">Knowledge management</li>
                            <li class="no-child">Multimedia, hypermedia</li>
                            <li class="no-child">Sound and music computing</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Distributed computing</span>
                        <ul class="children">
                            <li class="no-child">Grid computing</li>
                        </ul>
                    </li>
                    <li class="no-child">Human-computer interaction</li>
                    <li class="no-child">Operating systems</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Parallel computing</span>
                        <ul class="children">
                            <li class="no-child">High-performance computing</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Programming languages</span>
                        <ul class="children">
                            <li class="no-child">Compilers</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Programming paradigms</span>
                                <ul class="children">
                                    <li class="no-child">Concurrent programming</li>
                                    <li class="no-child">Functional programming</li>
                                    <li class="no-child">Imperative programming</li>
                                    <li class="no-child">Logic programming</li>
                                    <li class="no-child">Object-oriented programming</li>
                                </ul>
                            </li>
                            <li class="no-child">Program semantics</li>
                            <li class="no-child">Type theory</li>
                        </ul>
                    </li>
                    <li class="no-child">Quantum computing</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Programming paradigms</span>
                        <ul class="children">
                            <li class="no-child">Automata theory</li>
                            <li class="no-child">Computability theory</li>
                            <li class="no-child">Computational complexity theory</li>
                            <li class="no-child">Concurrency theory</li>
                        </ul>
                    </li>
                    <li class="no-child">VLSI design</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Mathematics</span>
                <ul class="children">
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Pure Mathematics</span>
                        <ul class="children">
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Mathematical logic and Foundations of mathematics</span>
                                <ul class="children">
                                    <li class="no-child">Intuitionistic logic</li>
                                    <li class="no-child">Modal logic</li>
                                    <li class="no-child">Model theory</li>
                                    <li class="no-child">Proof theory</li>
                                    <li class="no-child">Recursion theory</li>
                                    <li class="no-child">Set theory</li>
                                </ul>
                            </li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Algebra</span>
                                <ul class="children">
                                    <li class="no-child">Associative algebra</li>
                                    <li class="no-child">Category theory</li>
                                    <li class="no-child">Topos theory</li>
                                    <li class="no-child">Differential algebra</li>
                                    <li class="no-child">Field theory</li>
                                    <li class="no-child">Group theory</li>
                                    <li class="no-child">Homological algebra</li>
                                    <li class="no-child">K-theory</li>
                                    <li class="no-child">Lattice theory (Order theory)</li>
                                    <li class="no-child">Lie algebra</li>
                                    <li class="no-child">Linear algebra (Vector space)</li>
                                    <li class="no-child">Multilinear algebra</li>
                                    <li class="no-child">Non-associative algebra</li>
                                    <li class="no-child">Representation theory</li>
                                    <li>
                                        <span class="is-icon">+</span><span class="is-parent">Ring theory</span>
                                        <ul class="children">
                                            <li class="no-child">Commutative algebra</li>
                                            <li class="no-child">Noncommutative algebra</li>
                                        </ul>
                                    </li>
                                    <li class="no-child">Universal algebra</li>
                                </ul>
                            </li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Analysis</span>
                                <ul class="children">
                                    <li class="no-child">Complex analysis</li>
                                    <li>
                                        <span class="is-icon">+</span><span class="is-parent">Functional analysis</span>
                                        <ul class="children">
                                            <li class="no-child">Operator theory</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="is-icon">+</span><span class="is-parent">Harmonic analysis</span>
                                        <ul class="children">
                                            <li class="no-child">Fourier analysis</li>
                                        </ul>
                                    </li>
                                    <li class="no-child">Non-standard analysis</li>
                                    <li class="no-child">Ordinary differential equations</li>
                                    <li class="no-child">p-adic analysis</li>
                                    <li class="no-child">Partial differential equations</li>
                                    <li class="no-child">Real analysis</li>
                                    <li class="no-child">Calculus</li>
                                </ul>
                            </li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Probability theory</span>
                                <ul class="children">
                                    <li class="no-child">Ergodic theory</li>
                                    <li>
                                        <span class="is-icon">+</span><span class="is-parent">Measure theory</span>
                                        <ul class="children">
                                            <li class="no-child">Integral geometry</li>
                                        </ul>
                                    </li>
                                    <li class="no-child">Stochastic process</li>
                                </ul>
                            </li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Geometry and Topology</span>
                                <ul class="children">
                                    <li class="no-child">Affine geometry</li>
                                    <li class="no-child">Algebraic geometry</li>
                                    <li class="no-child">Algebraic topology</li>
                                    <li class="no-child">Convex geometry</li>
                                    <li class="no-child">Differential topology</li>
                                    <li class="no-child">Discrete geometry</li>
                                    <li class="no-child">Finite geometry</li>
                                    <li class="no-child">Galois geometry</li>
                                    <li class="no-child">General topology</li>
                                    <li class="no-child">Geometric topology</li>
                                    <li class="no-child">Integral geometry</li>
                                    <li class="no-child">Noncommutative geometry</li>
                                    <li class="no-child">Non-Euclidean geometry</li>
                                    <li class="no-child">Projective geometry</li>
                                </ul>
                            </li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Number theory</span>
                                <ul class="children">
                                    <li class="no-child">Algebraic number theory</li>
                                    <li class="no-child">Analytic number theory</li>
                                    <li class="no-child">Arithmetic combinatorics</li>
                                    <li class="no-child">Geometric number theory</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Applied mathematics</span>
                        <ul class="children">
                            <li class="no-child">Approximation theory</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Combinatorics</span>
                                <ul class="children">
                                    <li class="no-child">Coding theory</li>
                                </ul>
                            </li>
                            <li class="no-child">Cryptography</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Dynamical systems</span>
                                <ul class="children">
                                    <li class="no-child">Chaos theory</li>
                                    <li class="no-child">Fractal geometry</li>
                                </ul>
                            </li>
                            <li class="no-child">Game theory</li>
                            <li class="no-child">Graph theory</li>
                            <li class="no-child">Information theory</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Mathematical physics</span>
                                <ul class="children">
                                    <li class="no-child">Quantum field theory</li>
                                    <li class="no-child">Quantum gravity</li>
                                    <li class="no-child">String theory</li>
                                    <li class="no-child">Quantum mechanics</li>
                                    <li class="no-child">Statistical mechanics</li>
                                </ul>
                            </li>
                            <li class="no-child">Numerical analysis</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Operations research</span>
                                <ul class="children">
                                    <li class="no-child">Assignment problem</li>
                                    <li class="no-child">Decision analysis</li>
                                    <li class="no-child">Dynamic programming</li>
                                    <li class="no-child">Inventory theory</li>
                                    <li class="no-child">Linear programming</li>
                                    <li class="no-child">Mathematical optimization</li>
                                    <li class="no-child">Optimal maintenance</li>
                                    <li class="no-child">Real options analysis</li>
                                    <li class="no-child">Scheduling</li>
                                    <li class="no-child">Stochastic processes</li>
                                    <li class="no-child">Systems analysis</li>
                                </ul>
                            </li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Statistics</span>
                                <ul class="children">
                                    <li class="no-child">Actuarial science</li>
                                    <li class="no-child">Demography</li>
                                    <li class="no-child">Econometrics</li>
                                    <li class="no-child">Mathematical statistics</li>
                                    <li class="no-child">Data visualization</li>
                                </ul>
                            </li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Theory of computation</span>
                                <ul class="children">
                                    <li class="no-child">Computational complexity theory</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Systems science</span>
                <ul class="children">
                    <li class="no-child">Network science</li>
                    <li class="no-child">Chaos theory</li>
                    <li class="no-child">Conceptual systems</li>
                    <li class="no-child">Complex systems</li>
                    <li class="no-child">Complex system</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Cybernetics</span>
                        <ul class="children">
                            <li class="no-child">Biocybernetics</li>
                            <li class="no-child">Engineering cybernetics</li>
                            <li class="no-child">Management cybernetics</li>
                            <li class="no-child">Medical cybernetics</li>
                            <li class="no-child">New Cybernetics</li>
                            <li class="no-child">Second-order cybernetics</li>
                            <li class="no-child">Sociocybernetics</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Control Theory</span>
                        <ul class="children">
                            <li class="no-child">Affect control theory</li>
                            <li class="no-child">Control engineering</li>
                            <li class="no-child">Control systems</li>
                            <li class="no-child">Dynamical systems</li>
                            <li class="no-child">Perceptual control theory</li>
                        </ul>
                    </li>
                    <li class="no-child">Operations research</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Systems biology</span>
                        <ul class="children">
                            <li class="no-child">Computational systems biology</li>
                            <li class="no-child">Synthetic biology</li>
                            <li class="no-child">Systems immunology</li>
                            <li class="no-child">Systems neuroscience</li>
                        </ul>
                    </li>
                    <li class="no-child">System dynamics</li>
                    <li class="no-child">Social dynamics</li>
                    <li class="no-child">Systems ecology</li>
                    <li class="no-child">Ecosystem ecology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Systems engineering</span>
                        <ul class="children">
                            <li class="no-child">Biological systems engineering</li>
                            <li class="no-child">Earth systems engineering and management</li>
                            <li class="no-child">Enterprise systems engineering</li>
                            <li class="no-child">Systems analysis</li>
                        </ul>
                    </li>
                    <li class="no-child">Systems theory in anthropology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Systems psychology</span>
                        <ul class="children">
                            <li class="no-child">Ergonomics</li>
                            <li class="no-child">Family systems theory</li>
                            <li class="no-child">Systemic therapy</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Systems Theory</span>
                        <ul class="children">
                            <li class="no-child">Biochemical systems theory</li>
                            <li class="no-child">Ecological systems theory</li>
                            <li class="no-child">Developmental systems theory</li>
                            <li class="no-child">General systems theory</li>
                            <li class="no-child">Living systems theory</li>
                            <li class="no-child">LTI system theory</li>
                            <li class="no-child">Sociotechnical systems theory</li>
                            <li class="no-child">Mathematical system theory</li>
                            <li class="no-child">World-systems theory</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Statistics</span>
                <ul class="children">
                    <li class="no-child">Mathematical statistics</li>
                    <li class="no-child">Econometrics</li>
                    <li class="no-child">Actuarial science</li>
                    <li class="no-child">Demography</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Computational Statistics</span>
                        <ul class="children">
                            <li class="no-child">Data mining</li>
                            <li class="no-child">Regression</li>
                            <li class="no-child">Simulation</li>
                            <li class="no-child">Bootstrap (statistics)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Design of experiments</span>
                        <ul class="children">
                            <li class="no-child">Block design and Analysis of variance</li>
                            <li class="no-child">Response surface methodology</li>
                        </ul>
                    </li>
                    <li class="no-child">Sample Survey</li>
                    <li class="no-child">Sampling theory</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Statistical modelling</span>
                        <ul class="children">
                            <li class="no-child">Biostatistics</li>
                            <li class="no-child">Epidemiology</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Multivariate analysis</span>
                                <ul class="children">
                                    <li class="no-child">Structural equation model</li>
                                    <li class="no-child">Time series</li>
                                </ul>
                            </li>
                            <li class="no-child">Reliability theory</li>
                            <li class="no-child">Quality control</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Statistical theory</span>
                        <ul class="children">
                            <li class="no-child">Decision theory</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Mathematical statistics</span>
                                <ul class="children">
                                    <li class="no-child">Probability</li>
                                </ul>
                            </li>
                            <li class="no-child">Survey methodology</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="info">
    <div id="info-heading">
        <p id="info-heading-p">(Click on a discipline from the list on the left to view more)</p>
        <div class="divider"></div>
    </div>
    <div id="info-detail">
        <p id="info-detail-p">
        </p>
        <img id="info-detail-image" src="" />
    </div>
    <div id="road-map">
        <p id="road-map-heading">Ancestry</p>
        <div class="divider"></div>
        <p id="road-map-text"></p>
    </div>
    <div id="job-prospects">
        <p id="job-prospects-heading">Current Job Prospects</p>
        <div class="divider"></div>
        <p id="job-prospects-text">Coming Soon</p>
    </div>
    <div id="online-resources">
        <p id="online-resources-heading">Online Resources</p>
        <div class="divider"></div>
        <p id="online-resources-text">Coming Soon</p>
    </div>
    <div id="on-campus-resources">
        <p id="on-campus-resources-heading">On Campus Resources</p>
        <div class="divider"></div>
        <p id="on-campus-resources-text">Coming Soon</p>
    </div>
</div>
<script src="~/js/app.js"></script>

