
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/explore.css")" rel="stylesheet" type="text/css" />
}

<body>
    <div class="hns">
        <div class="humanities">
            <p id="humanities-heading">Humanities</p>
            <p>Humanities are academic disciplines that study aspects of human society and culture.</p>
            <p>Main fields of humanities include ancient and modern languages, literature, philosophy, history, human geography, law, politics, religion, and art</p>
        </div>
        <div class="social-sciences">
            <p id="social-sciences-heading">Social Sciences</p>
            <p>Social science is a category of academic disciplines, concerned with society and the relationships among individuals within a society. Social science as a whole has many branches</p>
            <p>Main fields include anthropology, archaeology, communication studies, economics, history, human geography, jurisprudence, linguistics, political science, psychology, public health, and sociology.</p>
        </div>
    </div>
    <div class="nnf">
        <div class="natural-sciences">
            <p id="natural-sciences-heading">Natural Scienes</p>
            <p>Natural science is a branch of science concerned with the description, prediction, and understanding of natural phenomena, based on empirical evidence from observation and experimentation.</p>
            <p>Natural science can be divided into two main branches: life science (or biological science) and physical science. Physical science is subdivided into branches, including physics, chemistry, astronomy and earth science.</p>
        </div>
        <div class="formal-sciences">
            <p id="formal-sciences-heading">Formal Sciences</p>
            <p>Formal sciences are formal language disciplines concerned with formal systems, such as logic, mathematics, statistics, theoretical computer science, robotics, information theory, game theory, systems theory, decision theory, and theoretical linguistics.</p>
        </div>
    </div>
    <div class="professional-and-applied-sciences">
        <p id="professional-and-applied-sciences-heading">Professional and Applied Sciences</p>        
        <p>A profession is an occupation founded upon specialized educational training and Applied science is the application of existing scientific knowledge to practical applications, like technology or inventions.</p>
        <p>Main fields include agriculture, business, engineering, and medicine.</p>
    </div>
</body>