
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/app.css")" rel="stylesheet" type="text/css" />
}

<div id="top-div">
    <div id="h-title">
        <p id="h-title-text">Natural Sciences</p>
    </div>
    <div id="ec-buttons">
        <div id="expand-button">
            <p>
                Expand All
            </p>
        </div>
        <div id="collapse-button">
            <p>
                Collapse All
            </p>
        </div>
    </div>
    <div id="discip-list">
        <ul>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Biology</span>
                <ul class="children">
                    <li class="no-child">Aerobiology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Anatomy</span>
                        <ul class="children">
                            <li class="no-child">Comparative anatomy</li>
                            <li class="no-child">Human anatomy</li>
                        </ul>
                    </li>
                    <li class="no-child">Biochemistry</li>
                    <li class="no-child">Bioinformatics</li>
                    <li class="no-child">Biophysics</li>
                    <li class="no-child">Biotechnology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Botany</span>
                        <ul class="children">
                            <li class="no-child">Ethnobotany</li>
                            <li class="no-child">Phycology</li>
                        </ul>
                    </li>
                    <li class="no-child">Cell biology</li>
                    <li class="no-child">Chronobiology</li>
                    <li class="no-child">Computational biology</li>
                    <li class="no-child">Cryobiology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Developmental biology</span>
                        <ul class="children">
                            <li class="no-child">Embryology</li>
                            <li class="no-child">Teratology</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Ecology</span>
                        <ul class="children">
                            <li class="no-child">Agroecology</li>
                            <li class="no-child">Ethnoecology</li>
                            <li class="no-child">Human ecology</li>
                            <li class="no-child">Landscape ecology</li>
                        </ul>
                    </li>
                    <li class="no-child">Endocrinology</li>
                    <li class="no-child">Evolutionary biology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Genetics</span>
                        <ul class="children">
                            <li class="no-child">Behavioural genetics</li>
                            <li class="no-child">Molecular genetics</li>
                            <li class="no-child">Population genetics</li>
                        </ul>
                    </li>
                    <li class="no-child">Histology</li>
                    <li class="no-child">Human biology</li>
                    <li class="no-child">Immunology (outline)</li>
                    <li class="no-child">Limnology</li>
                    <li class="no-child">Linnaean taxonomy</li>
                    <li class="no-child">Marine biology</li>
                    <li class="no-child">Mathematical biology</li>
                    <li class="no-child">Microbiology</li>
                    <li class="no-child">Molecular biology</li>
                    <li class="no-child">Mycology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Neuroscience</span>
                        <ul class="children">
                            <li class="no-child">Neuroscience</li>
                        </ul>
                    </li>
                    <li class="no-child">Nutrition</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Paleobiology</span>
                        <ul class="children">
                            <li class="no-child">Paleontology</li>
                        </ul>
                    </li>
                    <li class="no-child">Parasitology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Pathology</span>
                        <ul class="children">
                            <li class="no-child">Anatomical pathology</li>
                            <li class="no-child">Clinical pathology</li>
                            <li class="no-child">Dermatopathology</li>
                            <li class="no-child">Forensic pathology</li>
                            <li class="no-child">Hematopathology</li>
                            <li class="no-child">Histopathology</li>
                            <li class="no-child">Molecular pathology</li>
                            <li class="no-child">Surgical pathology</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Physiology</span>
                        <ul class="children">
                            <li class="no-child">Human physiology</li>
                            <li class="no-child">Exercise physiology</li>
                        </ul>
                    </li>
                    <li class="no-child">Structural Biology</li>
                    <li class="no-child">Systematics</li>
                    <li class="no-child">Systems biology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Virology</span>
                        <ul class="children">
                            <li class="no-child">Molecular virology</li>
                        </ul>
                    </li>
                    <li class="no-child">Xenobiology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Zoology</span>
                        <ul class="children">
                            <li class="no-child">Animal communications</li>
                            <li class="no-child">Apiology</li>
                            <li class="no-child">Arachnology</li>
                            <li class="no-child">Carcinology</li>
                            <li class="no-child">Cetology</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Entomology</span>
                                <ul class="children">
                                    <li class="no-child">Forensic entomology</li>
                                </ul>
                            </li>
                            <li class="no-child">Ethnozoology</li>
                            <li class="no-child">Ethology</li>
                            <li class="no-child">Helminthology</li>
                            <li class="no-child">Herpetology</li>
                            <li class="no-child">Ichthyology (outline)</li>
                            <li class="no-child">Mammalogy</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Malacology</span>
                                <ul class="children">
                                    <li class="no-child">Conchology</li>
                                </ul>
                            </li>
                            <li class="no-child">Myrmecology (outline)</li>
                            <li class="no-child">Nematology</li>
                            <li class="no-child">Neuroethology</li>
                            <li class="no-child">Oology</li>
                            <li class="no-child">Ornithology (outline)</li>
                            <li class="no-child">Planktology</li>
                            <li class="no-child">Primatology</li>
                            <li class="no-child">Zootomy</li>
                            <li class="no-child">Zoosemiotics</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Chemistry</span>
                <ul class="children">
                    <li class="no-child">Agrochemistry</li>
                    <li class="no-child">Analytical chemistry</li>
                    <li class="no-child">Astrochemistry</li>
                    <li class="no-child">Atmospheric chemistry</li>
                    <li class="no-child">Biochemistry (outline)</li>
                    <li class="no-child">Chemical biology</li>
                    <li class="no-child">Chemical engineering (outline)</li>
                    <li class="no-child">Cheminformatics</li>
                    <li class="no-child">Computational chemistry</li>
                    <li class="no-child">Cosmochemistry</li>
                    <li class="no-child">Electrochemistry</li>
                    <li class="no-child">Environmental chemistry</li>
                    <li class="no-child">Femtochemistry</li>
                    <li class="no-child">Flavor</li>
                    <li class="no-child">Flow chemistry</li>
                    <li class="no-child">Geochemistry</li>
                    <li class="no-child">Green chemistry</li>
                    <li class="no-child">Histochemistry</li>
                    <li class="no-child">Hydrogenation</li>
                    <li class="no-child">Immunochemistry</li>
                    <li class="no-child">Inorganic chemistry</li>
                    <li class="no-child">Marine chemistry</li>
                    <li class="no-child">Mathematical chemistry</li>
                    <li class="no-child">Mechanochemistry</li>
                    <li class="no-child">Medicinal chemistry</li>
                    <li class="no-child">Molecular biology</li>
                    <li class="no-child">Molecular mechanics</li>
                    <li class="no-child">Nanotechnology</li>
                    <li class="no-child">Natural product chemistry</li>
                    <li class="no-child">Neurochemistry</li>
                    <li class="no-child">Oenology</li>
                    <li class="no-child">Organic chemistry (outline)</li>
                    <li class="no-child">Organometallic chemistry</li>
                    <li class="no-child">Petrochemistry</li>
                    <li class="no-child">Pharmacology</li>
                    <li class="no-child">Photochemistry</li>
                    <li class="no-child">Physical chemistry</li>
                    <li class="no-child">Physical organic chemistry</li>
                    <li class="no-child">Phytochemistry</li>
                    <li class="no-child">Polymer chemistry</li>
                    <li class="no-child">Quantum chemistry</li>
                    <li class="no-child">Radiochemistry</li>
                    <li class="no-child">Solid-state chemistry</li>
                    <li class="no-child">Sonochemistry</li>
                    <li class="no-child">Supramolecular chemistry</li>
                    <li class="no-child">Surface chemistry</li>
                    <li class="no-child">Synthetic chemistry</li>
                    <li class="no-child">Theoretical chemistry</li>
                    <li class="no-child">Thermochemistry</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Earth Sciences</span>
                <ul class="children">
                    <li class="no-child">Edaphology</li>
                    <li class="no-child">Environmental chemistry</li>
                    <li class="no-child">Environmental science</li>
                    <li class="no-child">Gemology</li>
                    <li class="no-child">Geochemistry</li>
                    <li class="no-child">Geodesy</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Physical geography</span>
                        <ul class="children">
                            <li class="no-child">Atmospheric science / Meteorology (outline)</li>
                            <li class="no-child">Biogeography / Phytogeography</li>
                            <li class="no-child">Climatology / Paleoclimatology / Palaeogeography</li>
                            <li class="no-child">Coastal geography / Oceanography</li>
                            <li class="no-child">Edaphology / Pedology or Soil science</li>
                            <li class="no-child">Geobiology</li>
                            <li class="no-child">Geology (outline) (Geomorphology, Mineralogy, Petrology, Sedimentology, Speleology, Tectonics, Volcanology)</li>
                            <li class="no-child">Geostatistics</li>
                            <li class="no-child">Glaciology</li>
                            <li class="no-child">Hydrology (outline)/ Limnology / Hydrogeology</li>
                            <li class="no-child">Landscape ecology</li>
                            <li class="no-child">Quaternary science</li>
                        </ul>
                    </li>
                    <li class="no-child">Geophysics</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Paleontology</span>
                        <ul class="children">
                            <li class="no-child">Paleobiology</li>
                            <li class="no-child">Paleoecology</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Space Sciences</span>
                <ul class="children">
                    <li class="no-child">Astrobiology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Astronomy</span>
                        <ul class="children">
                            <li class="no-child">Observational astronomy</li>
                            <li class="no-child">Gamma ray astronomy</li>
                            <li class="no-child">Infrared astronomy</li>
                            <li class="no-child">Microwave astronomy</li>
                            <li class="no-child">Optical astronomy</li>
                            <li class="no-child">Radio astronomy</li>
                            <li class="no-child">UV astronomy</li>
                            <li class="no-child">X-ray astronomy</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Astrophysics</span>
                        <ul class="children">
                            <li class="no-child">Gravitational astronomy</li>
                            <li class="no-child">Black holes</li>
                        </ul>
                    </li>
                    <li class="no-child">X-ray astronomy</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Numerical simulations</span>
                        <ul class="children">
                            <li class="no-child">Astrophysical plasma</li>
                            <li class="no-child">Galaxy formation and evolution</li>
                            <li class="no-child">High-energy astrophysics</li>
                            <li class="no-child">Hydrodynamics</li>
                            <li class="no-child">Magnetohydrodynamics</li>
                            <li class="no-child">Star formation</li>
                        </ul>
                    </li>
                    <li class="no-child">Physical cosmology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Stellar astrophysics</span>
                        <ul class="children">
                            <li class="no-child">Helioseismology</li>
                            <li class="no-child">Stellar evolution</li>
                            <li class="no-child">Stellar nucleosynthesis</li>
                        </ul>
                    </li>
                    <li class="no-child">Planetary science</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Physics</span>
                <ul class="children">
                    <li class="no-child">Acoustics</li>
                    <li class="no-child">Applied physics</li>
                    <li class="no-child">Astrophysics</li>
                    <li class="no-child">Atomic, molecular, and optical physics</li>
                    <li class="no-child">Biophysics (outline)</li>
                    <li class="no-child">Computational physics</li>
                    <li class="no-child">Condensed matter physics</li>
                    <li class="no-child">Cryogenics</li>
                    <li class="no-child">Electromagnetism</li>
                    <li class="no-child">Elementary particle physics</li>
                    <li class="no-child">Experimental physics</li>
                    <li class="no-child">Fluid dynamics</li>
                    <li class="no-child">Mathematical physics</li>
                    <li class="no-child">Mechanics</li>
                    <li class="no-child">Medical physics</li>
                    <li class="no-child">Molecular physics</li>
                    <li class="no-child">Newtonian dynamics</li>
                    <li class="no-child">Nuclear physics</li>
                    <li class="no-child">Optics</li>
                    <li class="no-child">Plasma physics</li>
                    <li class="no-child">Quantum physics</li>
                    <li class="no-child">Solid mechanics</li>
                    <li class="no-child">Solid state physics</li>
                    <li class="no-child">Statistical mechanics</li>
                    <li class="no-child">Theoretical physics</li>
                    <li class="no-child">Thermodynamics</li>
                    <li class="no-child">Vehicle dynamics</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="info">
    <div id="info-heading">
        <p id="info-heading-p">(Click on a discipline from the list on the left to view more)</p>
        <div class="divider"></div>
    </div>
    <div id="info-detail">
        <p id="info-detail-p">
        </p>
        <img id="info-detail-image" src="" />
    </div>
    <div id="road-map">
        <p id="road-map-heading">Ancestry</p>
        <div class="divider"></div>
        <p id="road-map-text"></p>
    </div>
    <div id="job-prospects">
        <p id="job-prospects-heading">Current Job Prospects</p>
        <div class="divider"></div>
        <p id="job-prospects-text">Coming Soon</p>
    </div>
    <div id="online-resources">
        <p id="online-resources-heading">Online Resources</p>
        <div class="divider"></div>
        <p id="online-resources-text">Coming Soon</p>
    </div>
    <div id="on-campus-resources">
        <p id="on-campus-resources-heading">On Campus Resources</p>
        <div class="divider"></div>
        <p id="on-campus-resources-text">Coming Soon</p>
    </div>
</div>
<script src="~/js/app.js"></script>

