
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/app.css")" rel="stylesheet" type="text/css" />
}

<div id="top-div">
    <div id="h-title">
        <p id="h-title-text">Professional and Applied Sciences</p>
    </div>
    <div id="ec-buttons">
        <div id="expand-button">
            <p>
                Expand All
            </p>
        </div>
        <div id="collapse-button">
            <p>
                Collapse All
            </p>
        </div>
    </div>
    <div id="discip-list">
        <ul>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Agriculture</span>
                <ul class="children">
                    <li class="no-child">Agroecology</li>
                    <li class="no-child">Agronomy</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Animal husbandry (Animal science)</span>
                        <ul class="children">
                            <li class="no-child">Beekeeping (Apiculture)</li>
                        </ul>
                    </li>
                    <li class="no-child">Agrology</li>
                    <li class="no-child">Entomology</li>
                    <li class="no-child">Agricultural economics</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Agricultural engineering</span>
                        <ul class="children">
                            <li class="no-child">Biological systems engineering</li>
                            <li class="no-child">Food engineering</li>
                        </ul>
                    </li>
                    <li class="no-child">Aquaculture</li>
                    <li class="no-child">Enology</li>
                    <li class="no-child">Food science</li>
                    <li class="no-child">Horticulture</li>
                    <li class="no-child">Culinary arts</li>
                    <li class="no-child">Hydrology (outline)</li>
                    <li class="no-child">Pedology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Plant Science</span>
                        <ul class="children">
                            <li class="no-child">Pomology</li>
                        </ul>
                    </li>
                    <li class="no-child">Pest control</li>
                    <li class="no-child">Purification</li>
                    <li class="no-child">Viticulture</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Architecture and design</span>
                <ul class="children">
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Architecture</span>
                        <ul class="children">
                            <li class="no-child">Interior architecture</li>
                            <li class="no-child">Landscape architecture</li>
                        </ul>
                    </li>
                    <li class="no-child">Architectural analytics</li>
                    <li class="no-child">Historic preservation</li>
                    <li class="no-child">Interior design (interior architecture)</li>
                    <li class="no-child">Landscape architecture (landscape planning)</li>
                    <li class="no-child">Landscape design</li>
                    <li class="no-child">Urban planning (urban design)</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Visual communication</span>
                        <ul class="children">
                            <li class="no-child">Graphic design</li>
                            <li class="no-child">Type design</li>
                            <li class="no-child">Technical drawing</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Industrial design</span>
                        <ul class="children">
                            <li class="no-child">Ergonomics (outline)</li>
                            <li class="no-child">Game design</li>
                            <li class="no-child">Toy and amusement design</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">User experience design</span>
                        <ul class="children">
                            <li class="no-child">Interaction design</li>
                            <li class="no-child">Information architecture</li>
                            <li class="no-child">User experience evaluation</li>
                            <li class="no-child">User interface design</li>
                        </ul>
                    </li>
                    <li class="no-child">Decorative arts</li>
                    <li class="no-child">Fashion design</li>
                    <li class="no-child">Textile design</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Business</span>
                <ul class="children">
                    <li class="no-child">Accounting</li>
                    <li class="no-child">Accounting scholarship</li>
                    <li class="no-child">Business administration</li>
                    <li class="no-child">Business analysis</li>
                    <li class="no-child">Business ethics</li>
                    <li class="no-child">Business law</li>
                    <li class="no-child">E-Business</li>
                    <li class="no-child">Entrepreneurship</li>
                    <li class="no-child">Finance (outline)</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Industrial and labor relations</span>
                        <ul class="children">
                            <li class="no-child">Collective bargaining</li>
                            <li class="no-child">Human resources</li>
                            <li class="no-child">Organizational studies</li>
                            <li class="no-child">Labor economics</li>
                            <li class="no-child">Labor history</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Information systems (Business informatics)</span>
                        <ul class="children">
                            <li class="no-child">Management information systems</li>
                            <li class="no-child">Health informatics</li>
                        </ul>
                    </li>
                    <li class="no-child">Information technology (outline)</li>
                    <li class="no-child">International trade</li>
                    <li class="no-child">Management (outline)</li>
                    <li class="no-child">Marketing (outline)</li>
                    <li class="no-child">Operations management</li>
                    <li class="no-child">Purchasing</li>
                    <li class="no-child">Risk management and insurance</li>
                    <li class="no-child">Systems science</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Divinity</span>
                <ul class="children">
                    <li class="no-child">Canon law</li>
                    <li class="no-child">Church history</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Field ministry</span>
                        <ul class="children">
                            <li class="no-child">Pastoral counseling</li>
                            <li class="no-child">Pastoral theology</li>
                            <li class="no-child">Religious education techniques</li>
                            <li class="no-child">Homiletics</li>
                            <li class="no-child">Liturgy</li>
                            <li class="no-child">Sacred music</li>
                            <li class="no-child">Missiology</li>
                        </ul>
                    </li>
                    <li class="no-child">Hermeneutics</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Scriptural study and languages</span>
                        <ul class="children">
                            <li class="no-child">Biblical Hebrew</li>
                            <li class="no-child">Biblical studies/Sacred scripture</li>
                            <li class="no-child">New Testament Greek</li>
                            <li class="no-child">Latin</li>
                            <li class="no-child">Old Church Slavonic</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Theology</span>
                        <ul class="children">
                            <li class="no-child">Dogmatic theology</li>
                            <li class="no-child">Ecclesiology</li>
                            <li class="no-child">Sacramental theology</li>
                            <li class="no-child">Systematic theology</li>
                            <li class="no-child">Christian ethics</li>
                            <li class="no-child">Moral theology</li>
                            <li class="no-child">Historical theology</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Education</span>
                <ul class="children">
                    <li class="no-child">Comparative education</li>
                    <li class="no-child">Critical pedagogy</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Curriculum and instruction</span>
                        <ul class="children">
                            <li class="no-child">Alternative education</li>
                            <li class="no-child">Early childhood education</li>
                            <li class="no-child">Elementary education</li>
                            <li class="no-child">Secondary education</li>
                            <li class="no-child">Higher education</li>
                            <li class="no-child">Mastery learning</li>
                            <li class="no-child">Cooperative learning</li>
                            <li class="no-child">Agricultural education</li>
                            <li class="no-child">Art education</li>
                            <li class="no-child">Bilingual education</li>
                            <li class="no-child">Chemistry education</li>
                            <li class="no-child">Counselor education</li>
                            <li class="no-child">Language education</li>
                            <li class="no-child">Legal education</li>
                            <li class="no-child">Mathematics education</li>
                            <li class="no-child">Medical education</li>
                            <li class="no-child">Military education and training</li>
                            <li class="no-child">Music education</li>
                            <li class="no-child">Nursing education</li>
                            <li class="no-child">Outdoor education</li>
                            <li class="no-child">Peace education</li>
                            <li class="no-child">Physical education/Sports coaching</li>
                            <li class="no-child">Physics education</li>
                            <li class="no-child">Reading education</li>
                            <li class="no-child">Religious education</li>
                            <li class="no-child">Science education</li>
                            <li class="no-child">Special education</li>
                            <li class="no-child">Sex education</li>
                            <li class="no-child">Sociology of education</li>
                            <li class="no-child">Technology education</li>
                            <li class="no-child">Vocational education</li>
                        </ul>
                    </li>
                    <li class="no-child">Educational leadership</li>
                    <li class="no-child">Educational philosophy</li>
                    <li class="no-child">Educational psychology</li>
                    <li class="no-child">Educational technology</li>
                    <li class="no-child">Distance education</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Engineering and Technology</span>
                <ul class="children">
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Chemical Engineering</span>
                        <ul class="children">
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Bioengineering</span>
                                <ul class="children">
                                    <li class="no-child">Biochemical engineering</li>
                                    <li class="no-child">Biomolecular engineering</li>
                                </ul>
                            </li>
                            <li class="no-child">Catalysis</li>
                            <li class="no-child">Materials engineering</li>
                            <li class="no-child">Molecular engineering</li>
                            <li class="no-child">Nanotechnology</li>
                            <li class="no-child">Polymer engineering</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Process design</span>
                                <ul class="children">
                                    <li class="no-child">Petroleum engineering</li>
                                    <li class="no-child">Nuclear engineering</li>
                                    <li class="no-child">Food engineering</li>
                                </ul>
                            </li>
                            <li class="no-child">Process engineering</li>
                            <li class="no-child">Reaction engineering</li>
                            <li class="no-child">Thermodynamics</li>
                            <li class="no-child">Transport phenomena</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Civil Engineering</span>
                        <ul class="children">
                            <li class="no-child">Coastal engineering</li>
                            <li class="no-child">Earthquake engineering</li>
                            <li class="no-child">Ecological engineering</li>
                            <li class="no-child">Environmental engineering</li>
                            <li class="no-child">Geotechnical engineering</li>
                            <li class="no-child">Hydraulic engineering</li>
                            <li class="no-child">Mining engineering</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Transportation engineering</span>
                                <ul class="children">
                                    <li class="no-child">Highway engineering</li>
                                </ul>
                            </li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Structural engineering</span>
                                <ul class="children">
                                    <li class="no-child">Architectural engineering</li>
                                </ul>
                            </li>
                            <li class="no-child">Structural mechanics</li>
                            <li class="no-child">Surveying</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Educational Technology</span>
                        <ul class="children">
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Instructional design</span>
                                <ul class="children">
                                    <li class="no-child">Distance education</li>
                                    <li class="no-child">Instructional simulation</li>
                                </ul>
                            </li>
                            <li class="no-child">Human performance technology</li>
                            <li class="no-child">Knowledge management</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Electrical Engineering</span>
                        <ul class="children">
                            <li class="no-child">Applied physics</li>
                            <li class="no-child">Computer engineering</li>
                            <li class="no-child">Computer science</li>
                            <li class="no-child">Control systems engineering</li>
                            <li class="no-child">Electronic engineering</li>
                            <li class="no-child">Instrumentation engineering</li>
                            <li class="no-child">Engineering physics</li>
                            <li class="no-child">Photonics</li>
                            <li class="no-child">Information theory</li>
                            <li class="no-child">Mechatronics</li>
                            <li class="no-child">Power engineering</li>
                            <li class="no-child">Quantum computing</li>
                            <li class="no-child">Robotics (outline)</li>
                            <li class="no-child">Semiconductors</li>
                            <li class="no-child">Telecommunications engineering</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Materials Science and Engineering</span>
                        <ul class="children">
                            <li class="no-child">Biomaterials</li>
                            <li class="no-child">Ceramic engineering</li>
                            <li class="no-child">Crystallography</li>
                            <li class="no-child">Nanomaterials</li>
                            <li class="no-child">Photonics</li>
                            <li class="no-child">Physical Metallurgy</li>
                            <li class="no-child">Polymer engineering</li>
                            <li class="no-child">Polymer science</li>
                            <li class="no-child">Semiconductors</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Mechanical Engineering</span>
                        <ul class="children">
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Aerospace engineering</span>
                                <ul class="children">
                                    <li class="no-child">Aeronautics</li>
                                    <li class="no-child">Astronautics</li>
                                </ul>
                            </li>
                            <li class="no-child">Acoustical engineering</li>
                            <li class="no-child">Automotive engineering</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Biomedical engineering</span>
                                <ul class="children">
                                    <li class="no-child">Biomechanical engineering</li>
                                    <li class="no-child">Neural engineering</li>
                                </ul>
                            </li>
                            <li class="no-child">Continuum mechanics</li>
                            <li class="no-child">Fluid mechanics</li>
                            <li class="no-child">Heat transfer</li>
                            <li class="no-child">Industrial engineering</li>
                            <li class="no-child">Manufacturing engineering</li>
                            <li class="no-child">Marine engineering</li>
                            <li class="no-child">Mass transfer</li>
                            <li class="no-child">Mechatronics</li>
                            <li class="no-child">Nanoengineering</li>
                            <li class="no-child">Ocean engineering</li>
                            <li class="no-child">Optical engineering</li>
                            <li class="no-child">Robotics</li>
                            <li class="no-child">Thermodynamics</li>
                            <li class="no-child">Vehicle engineering</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Environmental studies and forestry</span>
                <ul class="children">
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Environmental management</span>
                        <ul class="children">
                            <li class="no-child">Coastal management</li>
                            <li class="no-child">Fisheries management</li>
                            <li class="no-child">Land management</li>
                            <li class="no-child">Natural resource management</li>
                            <li class="no-child">Waste management</li>
                            <li class="no-child">Wildlife management</li>
                        </ul>
                    </li>
                    <li class="no-child">Environmental policy</li>
                    <li class="no-child">Wildlife observation</li>
                    <li class="no-child">Recreation ecology</li>
                    <li class="no-child">Silviculture</li>
                    <li class="no-child">Sustainability studies</li>
                    <li class="no-child">Sustainable development</li>
                    <li class="no-child">Toxicology</li>
                    <li class="no-child">Ecology</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Family and consumer science</span>
                <ul class="children">
                    <li class="no-child">Consumer education</li>
                    <li class="no-child">Housing</li>
                    <li class="no-child">Interior design</li>
                    <li class="no-child">Nutrition (outline)</li>
                    <li class="no-child">Foodservice management</li>
                    <li class="no-child">Textiles</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Human physical performance and recreation</span>
                <ul class="children">
                    <li class="no-child">Biomechanics / Sports biomechanics</li>
                    <li class="no-child">Sports coaching</li>
                    <li class="no-child">Dance (outline)</li>
                    <li class="no-child">Escapology</li>
                    <li class="no-child">Ergonomics</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Physical fitness</span>
                        <ul class="children">
                            <li class="no-child">Aerobics</li>
                            <li class="no-child">Personal trainer / Personal fitness training</li>
                        </ul>
                    </li>
                    <li class="no-child">Game design</li>
                    <li class="no-child">Exercise physiology</li>
                    <li class="no-child">Kinesiology / Exercise physiology / Performance science</li>
                    <li class="no-child">Leisure studies</li>
                    <li class="no-child">Navigation</li>
                    <li class="no-child">Outdoor activity</li>
                    <li class="no-child">Physical activity</li>
                    <li class="no-child">Physical education / Pedagogy</li>
                    <li class="no-child">Sociology of sport</li>
                    <li class="no-child">Sexology</li>
                    <li class="no-child">Sports journalism / sportscasting</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Sport management</span>
                        <ul class="children">
                            <li class="no-child">Athletic director</li>
                        </ul>
                    </li>
                    <li class="no-child">Sport psychology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Sports medicine</span>
                        <ul class="children">
                            <li class="no-child">Athletic training</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Survival skills</span>
                        <ul class="children">
                            <li class="no-child">Batoning</li>
                            <li class="no-child">Bushcraft</li>
                            <li class="no-child">Scoutcraft</li>
                            <li class="no-child">Woodcraft</li>
                        </ul>
                    </li>
                    <li class="no-child">Toy and amusement design</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Journalism, media studies and communication</span>
                <ul class="children">
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Journalism</span>
                        <ul class="children">
                            <li class="no-child">Broadcast journalism</li>
                            <li class="no-child">Digital journalism</li>
                            <li class="no-child">Literary journalism</li>
                            <li class="no-child">New media journalism</li>
                            <li class="no-child">Print journalism</li>
                            <li class="no-child">Sports journalism / sportscasting</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Media studies (Mass media)</span>
                        <ul class="children">
                            <li class="no-child">Newspaper</li>
                            <li class="no-child">Magazine</li>
                            <li class="no-child">Radio (outline)</li>
                            <li class="no-child">Television studies</li>
                            <li class="no-child">Film studies</li>
                            <li class="no-child">Internet (outline)</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Communication studies</span>
                        <ul class="children">
                            <li class="no-child">Advertising</li>
                            <li class="no-child">Animal communication</li>
                            <li class="no-child">Communication design</li>
                            <li class="no-child">Conspiracy theory</li>
                            <li class="no-child">Digital media</li>
                            <li class="no-child">Electronic media</li>
                            <li class="no-child">Environmental communication</li>
                            <li class="no-child">Hoax</li>
                            <li class="no-child">Information theory</li>
                            <li class="no-child">Intercultural communication</li>
                            <li class="no-child">Marketing (outline)</li>
                            <li class="no-child">Mass communication</li>
                            <li class="no-child">Nonverbal communication</li>
                            <li class="no-child">Organizational communication</li>
                            <li class="no-child">Popular culture studies</li>
                            <li class="no-child">Propaganda</li>
                            <li class="no-child">Public relations (outline)</li>
                            <li class="no-child">Speech communication</li>
                            <li class="no-child">Technical writing</li>
                            <li class="no-child">Translation</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Law</span>
                <ul class="children">
                    <li class="no-child">Administrative law</li>
                    <li class="no-child">Canon law</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Civil law</span>
                        <ul class="children">
                            <li class="no-child">Admiralty law</li>
                            <li class="no-child">Animal law/Animal rights</li>
                            <li class="no-child">Civil procedure</li>
                            <li class="no-child">Common law</li>
                            <li class="no-child">Contract law</li>
                            <li class="no-child">Corporations</li>
                            <li class="no-child">Environmental law</li>
                            <li class="no-child">Family law</li>
                            <li class="no-child">Federal law</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">International law</span>
                                <ul class="children">
                                    <li class="no-child">Public international law</li>
                                    <li class="no-child">Supranational law</li>
                                </ul>
                            </li>
                            <li class="no-child">Labor law</li>
                            <li class="no-child">Property law</li>
                            <li class="no-child">Tax law</li>
                            <li class="no-child">Tort law</li>
                        </ul>
                    </li>
                    <li class="no-child">Comparative law</li>
                    <li class="no-child">Competition law</li>
                    <li class="no-child">Constitutional law</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Criminal law</span>
                        <ul class="children">
                            <li class="no-child">Criminal justice</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Criminal procedure</span>
                                <ul class="children">
                                    <li class="no-child">Forensic science</li>
                                    <li class="no-child">Police science</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="no-child">Islamic law</li>
                    <li class="no-child">Jewish law</li>
                    <li class="no-child">Jurisprudence (Philosophy of Law)</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Legal management</span>
                        <ul class="children">
                            <li class="no-child">Business law</li>
                            <li class="no-child">Mercantile law</li>
                            <li class="no-child">Corporate law</li>
                        </ul>
                    </li>
                    <li class="no-child">Procedural law</li>
                    <li class="no-child">Substantive law</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Library and museum studies</span>
                <ul class="children">
                    <li class="no-child">Archival science</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Bibliometrics</span>
                        <ul class="children">
                            <li class="no-child">Citation analysis</li>
                        </ul>
                    </li>
                    <li class="no-child">Conservation science</li>
                    <li class="no-child">Informatics</li>
                    <li class="no-child">Information architecture</li>
                    <li class="no-child">Information science (outline)</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Museology</span>
                        <ul class="children">
                            <li class="no-child">Museum administration</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Medicine and Health</span>
                <ul class="children">
                    <li class="no-child">Alternative medicine</li>
                    <li class="no-child">Cleaning</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Clinical laboratory sciences/Clinical pathology/Laboratory medicine</span>
                        <ul class="children">
                            <li class="no-child">Clinical biochemistry</li>
                            <li class="no-child">Cytogenetics</li>
                            <li class="no-child">Cytohematology</li>
                            <li class="no-child">Cytology (outline)</li>
                            <li class="no-child">Haemostasiology</li>
                            <li class="no-child">Histology</li>
                            <li class="no-child">Clinical immunology</li>
                            <li class="no-child">Clinical microbiology</li>
                            <li class="no-child">Molecular genetics</li>
                            <li class="no-child">Parasitology</li>
                        </ul>
                    </li>
                    <li class="no-child">Clinical physiology</li>
                    <li class="no-child">Cosmetology</li>
                    <li class="no-child">Decontamination</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Dentistry (outline)</span>
                        <ul class="children">
                            <li class="no-child">Dental hygiene and epidemiology</li>
                            <li class="no-child">Dental surgery</li>
                            <li class="no-child">Endodontics</li>
                            <li class="no-child">Orthodontics</li>
                            <li class="no-child">Oral and maxillofacial surgery</li>
                            <li class="no-child">Periodontics</li>
                            <li class="no-child">Prosthodontics</li>
                            <li class="no-child">Implantology</li>
                        </ul>
                    </li>
                    <li class="no-child">Dermatology</li>
                    <li class="no-child">Emergency medicine (outline)</li>
                    <li class="no-child">Health informatics/Clinical informatics</li>
                    <li class="no-child">Music therapy</li>
                    <li class="no-child">Nursing</li>
                    <li class="no-child">Nutrition (outline) and dietetics</li>
                    <li class="no-child">Optometry</li>
                    <li class="no-child">Orthoptics</li>
                    <li class="no-child">Osteopathy</li>
                    <li class="no-child">Physiotherapy</li>
                    <li class="no-child">Occupational therapy</li>
                    <li class="no-child">Speech and language pathology</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Internal medicine</span>
                        <ul class="children">
                            <li class="no-child">Preventive medicine</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Cardiology</span>
                                <ul class="children">
                                    <li class="no-child">Cardiac electrophysiology</li>
                                </ul>
                            </li>
                            <li class="no-child">Dermatology</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Pulmonology</span>
                                <ul class="children">
                                    <li class="no-child">Medical toxicology</li>
                                </ul>
                            </li>
                            <li class="no-child">Endocrinology</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Gastroenterology</span>
                                <ul class="children">
                                    <li class="no-child">Hepatology</li>
                                </ul>
                            </li>
                            <li class="no-child">Oncology</li>
                            <li class="no-child">Geriatrics</li>
                            <li class="no-child">Gynaecology</li>
                            <li class="no-child">Hematology</li>
                            <li class="no-child">Infectious disease</li>
                            <li class="no-child">Nephrology</li>
                            <li class="no-child">Neurology</li>
                            <li class="no-child">Neurosurgery</li>
                            <li class="no-child">Obstetrics (outline)</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Ophthalmology</span>
                                <ul class="children">
                                    <li class="no-child">Neuro-ophthalmology</li>
                                </ul>
                            </li>
                            <li class="no-child">Orthopedic surgery</li>
                            <li class="no-child">Otolaryngology</li>
                            <li class="no-child">Pathology</li>
                            <li class="no-child">Pediatrics</li>
                        </ul>
                    </li>
                    <li class="no-child">Pharmacy</li>
                    <li class="no-child">Pharmaceutical sciences</li>
                    <li class="no-child">Pharmacognosy</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Physical fitness</span>
                        <ul class="children">
                            <li class="no-child">Personal fitness training</li>
                            <li class="no-child">Aerobics</li>
                            <li class="no-child">Kinesiology / Exercise physiology / Performance science</li>
                        </ul>
                    </li>
                    <li class="no-child">Physical therapy</li>
                    <li class="no-child">Podiatry</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Primary care</span>
                        <ul class="children">
                            <li class="no-child">General practice</li>
                        </ul>
                    </li>
                    <li class="no-child">Psychiatry (outline)</li>
                    <li class="no-child">Psychology (outline)</li>
                    <li class="no-child">Psychosomatic</li>
                    <li class="no-child">Psychotherapy</li>
                    <li class="no-child">Public health</li>
                    <li class="no-child">Radiology</li>
                    <li class="no-child">Recreation therapy</li>
                    <li class="no-child">Rehabilitation medicine</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Respiratory medicine</span>
                        <ul class="children">
                            <li class="no-child">Pulmonology</li>
                            <li class="no-child">Sleep medicine</li>
                        </ul>
                    </li>
                    <li class="no-child">Respiratory therapy</li>
                    <li class="no-child">Rheumatology</li>
                    <li class="no-child">Sports medicine</li>
                    <li class="no-child">Sterilization (microbiology)</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Surgery</span>
                        <ul class="children">
                            <li class="no-child">Bariatric surgery</li>
                            <li class="no-child">Cardiothoracic surgery</li>
                            <li class="no-child">Neurosurgery</li>
                            <li class="no-child">Plastic surgery</li>
                            <li class="no-child">Trauma surgery</li>
                            <li class="no-child">Traumatology</li>
                        </ul>
                    </li>
                    <li class="no-child">Traditional medicine</li>
                    <li class="no-child">Therapy</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Urology</span>
                        <ul class="children">
                            <li class="no-child">Andrology</li>
                        </ul>
                    </li>
                    <li class="no-child">Veterinary medicine</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Military sciences</span>
                <ul class="children">
                    <li class="no-child">Amphibious warfare</li>
                    <li class="no-child">Artillery</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Battlespace</span>
                        <ul class="children">
                            <li class="no-child">Air</li>
                            <li class="no-child">Information</li>
                            <li class="no-child">Land</li>
                            <li class="no-child">Sea</li>
                            <li class="no-child">Space</li>
                        </ul>
                    </li>
                    <li class="no-child">Campaigning</li>
                    <li class="no-child">Military engineering</li>
                    <li class="no-child">Doctrine</li>
                    <li class="no-child">Espionage</li>
                    <li class="no-child">Game theory</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Grand strategy</span>
                        <ul class="children">
                            <li class="no-child">Containment</li>
                            <li class="no-child">Limited war</li>
                            <li class="no-child">Military science</li>
                            <li class="no-child">Philosophy of war</li>
                            <li class="no-child">Strategic studies</li>
                            <li class="no-child">Total war</li>
                            <li class="no-child">War</li>
                        </ul>
                    </li>
                    <li class="no-child">Leadership</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Military history</span>
                        <ul class="children">
                            <li class="no-child">Prehistoric</li>
                            <li class="no-child">Ancient</li>
                            <li class="no-child">Medieval</li>
                            <li class="no-child">Early modern</li>
                            <li class="no-child">Industrial</li>
                            <li class="no-child">Modern</li>
                            <li class="no-child">Fourth-generation warfare</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Logistics</span>
                        <ul class="children">
                            <li class="no-child">Materiel</li>
                            <li class="no-child">Supply chain management</li>
                            <li class="no-child">Medieval</li>
                            <li class="no-child">Early modern</li>
                            <li class="no-child">Industrial</li>
                            <li class="no-child">Modern</li>
                            <li class="no-child">Fourth-generation warfare</li>
                        </ul>
                    </li>
                    <li class="no-child">Military operation</li>
                    <li class="no-child">Military intelligence</li>
                    <li class="no-child">Military law</li>
                    <li class="no-child">Military medicine</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Naval Science</span>
                        <ul class="children">
                            <li class="no-child">Naval engineering</li>
                            <li class="no-child">Naval tactics</li>
                            <li class="no-child">Naval architecture</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Organization</span>
                        <ul class="children">
                            <li class="no-child">Command and control</li>
                            <li class="no-child">Doctrine</li>
                            <li class="no-child">Education and training</li>
                            <li class="no-child">Engineers</li>
                            <li class="no-child">Intelligence</li>
                            <li class="no-child">Ranks</li>
                            <li class="no-child">Staff</li>
                            <li class="no-child">Technology and equipment</li>
                            <li class="no-child">Military exercises</li>
                            <li class="no-child">Military simulation</li>
                            <li class="no-child">Military sports</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Strategy</span>
                        <ul class="children">
                            <li class="no-child">Attrition</li>
                            <li class="no-child">Deception</li>
                            <li class="no-child">Defensive</li>
                            <li class="no-child">Offensive</li>
                            <li class="no-child">Counter-offensive</li>
                            <li class="no-child">Maneuver</li>
                            <li class="no-child">Goal</li>
                            <li class="no-child">Naval</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Tactics</span>
                        <ul class="children">
                            <li class="no-child">Aerial</li>
                            <li class="no-child">Battle</li>
                            <li class="no-child">Cavalry</li>
                            <li class="no-child">Charge</li>
                            <li class="no-child">Cover</li>
                            <li class="no-child">Counter-attack</li>
                            <li class="no-child">Counter-insurgency</li>
                            <li class="no-child">Counter-intelligence</li>
                            <li class="no-child">Counter-terrorism</li>
                            <li class="no-child">Foxhole</li>
                            <li class="no-child">Endemic warfare</li>
                            <li class="no-child">Guerrilla warfare</li>
                            <li class="no-child">Infiltration</li>
                            <li class="no-child">Irregular warfare</li>
                            <li class="no-child">Morale</li>
                            <li class="no-child">Naval tactics</li>
                            <li class="no-child">Siege</li>
                            <li class="no-child">Surgical strike</li>
                            <li class="no-child">Tactical objective</li>
                            <li class="no-child">Trench warfare</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Military weapons</span>
                        <ul class="children">
                            <li class="no-child">Armor</li>
                            <li class="no-child">Artillery</li>
                            <li class="no-child">Biological</li>
                            <li class="no-child">Cavalry</li>
                            <li class="no-child">Conventional</li>
                            <li class="no-child">Chemical</li>
                            <li class="no-child">Cyberwarfare</li>
                            <li class="no-child">Cyber</li>
                            <li class="no-child">Economic</li>
                            <li class="no-child">Electronic</li>
                            <li class="no-child">Infantry</li>
                            <li class="no-child">Nuclear</li>
                            <li class="no-child">Psychological</li>
                            <li class="no-child">Unconventional</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Other Military</span>
                        <ul class="children">
                            <li class="no-child">Arms control</li>
                            <li class="no-child">Arms race</li>
                            <li class="no-child">Assassination</li>
                            <li class="no-child">Asymmetric warfare</li>
                            <li class="no-child">Civil defense</li>
                            <li class="no-child">Clandestine operation</li>
                            <li class="no-child">Collateral damage</li>
                            <li class="no-child">Cold war (general term)</li>
                            <li class="no-child">Combat</li>
                            <li class="no-child">Covert operation</li>
                            <li class="no-child">Defense industry</li>
                            <li class="no-child">Disarmament</li>
                            <li class="no-child">Intelligence agency</li>
                            <li class="no-child">Laws of war</li>
                            <li class="no-child">Mercenary</li>
                            <li class="no-child">Military campaign</li>
                            <li class="no-child">Military operation</li>
                            <li class="no-child">Mock combat</li>
                            <li class="no-child">Network-centric warfare</li>
                            <li class="no-child">Paramilitary</li>
                            <li class="no-child">Principles of war</li>
                            <li class="no-child">Private defense agency</li>
                            <li class="no-child">Private military company</li>
                            <li class="no-child">Proxy war</li>
                            <li class="no-child">Religious war</li>
                            <li class="no-child">Security</li>
                            <li class="no-child">Special forces</li>
                            <li class="no-child">Special operations</li>
                            <li class="no-child">Theater (warfare)</li>
                            <li class="no-child">Theft</li>
                            <li class="no-child">Undercover</li>
                            <li class="no-child">War crimes</li>
                            <li class="no-child">Warrior</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Public Administration</span>
                <ul class="children">
                    <li class="no-child">Civil service</li>
                    <li class="no-child">Corrections</li>
                    <li class="no-child">Conservation biology</li>
                    <li class="no-child">Criminal justice (outline)</li>
                    <li class="no-child">Disaster research</li>
                    <li class="no-child">Disaster response</li>
                    <li class="no-child">Emergency management</li>
                    <li class="no-child">Emergency services</li>
                    <li class="no-child">Fire safety (Structural fire protection)</li>
                    <li class="no-child">Fire ecology (Wildland fire management)</li>
                    <li class="no-child">Governmental affairs</li>
                    <li class="no-child">International affairs</li>
                    <li class="no-child">Law enforcement</li>
                    <li class="no-child">Peace and conflict studies</li>
                    <li class="no-child">Police science</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Policy Studies</span>
                        <ul class="children">
                            <li class="no-child">Policy Analysis</li>
                        </ul>
                    </li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Public administration</span>
                        <ul class="children">
                            <li class="no-child">Nonprofit administration</li>
                            <li class="no-child">Non-governmental organization (NGO) administration</li>
                            <li class="no-child">Public policy doctrine</li>
                            <li class="no-child">Public policy school</li>
                            <li class="no-child">Regulation</li>
                        </ul>
                    </li>
                    <li class="no-child">Public safety</li>
                    <li class="no-child">Public service</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Public Policy</span>
                        <ul class="children">
                            <li class="no-child">Agricultural policy</li>
                            <li class="no-child">Commercial policy</li>
                            <li class="no-child">Cultural policy</li>
                            <li class="no-child">Domestic policy</li>
                            <li class="no-child">Drug policy</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Economic policy</span>
                                <ul class="children">
                                    <li class="no-child">Fiscal policy</li>
                                    <li class="no-child">Incomes policy</li>
                                    <li class="no-child">Industrial policy</li>
                                    <li class="no-child">Investment policy</li>
                                    <li class="no-child">Monetary policy</li>
                                    <li class="no-child">Tax policy</li>
                                </ul>
                            </li>
                            <li class="no-child">Education policy</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Energy policy</span>
                                <ul class="children">
                                    <li class="no-child">Nuclear energy policy</li>
                                    <li class="no-child">Renewable energy policy</li>
                                </ul>
                            </li>
                            <li class="no-child">Environmental policy</li>
                            <li class="no-child">Food policy</li>
                            <li class="no-child">Foreign policy</li>
                            <li>
                                <span class="is-icon">+</span><span class="is-parent">Health policy</span>
                                <ul class="children">
                                    <li class="no-child">Pharmaceutical policy</li>
                                    <li class="no-child">Vaccination policy</li>
                                </ul>
                            </li>
                            <li class="no-child">Housing policy</li>
                            <li class="no-child">Immigration policy</li>
                            <li class="no-child">Knowledge policy</li>
                            <li class="no-child">Language policy</li>
                            <li class="no-child">Military policy</li>
                            <li class="no-child">Science policy</li>
                            <li class="no-child">Security policy</li>
                            <li class="no-child">Social policy</li>
                            <li class="no-child">Public policy by country</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Social Work</span>
                <ul class="children">
                    <li class="no-child">Child welfare</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Community practice</span>
                        <ul class="children">
                            <li class="no-child">Community organizing</li>
                            <li class="no-child">Social policy</li>
                        </ul>
                    </li>
                    <li class="no-child">Human Services</li>
                    <li class="no-child">Corrections</li>
                    <li class="no-child">Gerontology</li>
                    <li class="no-child">Medical social work</li>
                    <li class="no-child">Mental health</li>
                    <li class="no-child">School social work</li>
                </ul>
            </li>
            <li>
                <span class="is-icon">+</span><span class="is-parent">Transportation</span>
                <ul class="children">
                    <li class="no-child">Highway safety</li>
                    <li class="no-child">Infographics</li>
                    <li class="no-child">Intermodal transportation studies</li>
                    <li class="no-child">Logistics</li>
                    <li>
                        <span class="is-icon">+</span><span class="is-parent">Marine Transportation</span>
                        <ul class="children">
                            <li class="no-child">Port Management</li>
                            <li class="no-child">Seafaring</li>
                        </ul>
                    </li>
                    <li class="no-child">Operations research</li>
                    <li class="no-child">Mass transit</li>
                    <li class="no-child">Travel</li>
                    <li class="no-child">Vehicles</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="info">
    <div id="info-heading">
        <p id="info-heading-p">(Click on a discipline from the list on the left to view more)</p>
        <div class="divider"></div>
    </div>
    <div id="info-detail">
        <p id="info-detail-p">
        </p>
        <img id="info-detail-image" src="" />
    </div>
    <div id="road-map">
        <p id="road-map-heading">Ancestry</p>
        <div class="divider"></div>
        <p id="road-map-text"></p>
    </div>
    <div id="job-prospects">
        <p id="job-prospects-heading">Current Job Prospects</p>
        <div class="divider"></div>
        <p id="job-prospects-text">Coming Soon</p>
    </div>
    <div id="online-resources">
        <p id="online-resources-heading">Online Resources</p>
        <div class="divider"></div>
        <p id="online-resources-text">Coming Soon</p>
    </div>
    <div id="on-campus-resources">
        <p id="on-campus-resources-heading">On Campus Resources</p>
        <div class="divider"></div>
        <p id="on-campus-resources-text">Coming Soon</p>
    </div>
</div>
<script src="~/js/app.js"></script>