
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/manage.css" rel="stylesheet" type="text/css" />
}

<div id="manage-div">
    <div id="manage-profile-info">        
        <img id="manage-avatar"/>
        <strong id="manage-username"></strong>
        <p id="manage-email"></p>
    </div>
    <div id="manage-contributions">
        <p id="manage-contributions-heading">Posts and Recommendations</p>
        <p id="manage-contributions-text">Coming Soon!</p>
    </div>
</div>

@section Scripts {
    <script src="~/js/manage.js"></script>
}