
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/error.css")" rel="stylesheet" type="text/css" />
}

<div id="error-info">
    <div id="error-type">        
    </div>
</div>

<input type="hidden" id="error-status-code" value="@Model.StatusCode">
<input type="hidden" id="error-description" value="@Model.Description">

<script src="~/js/typed.js"></script>
<script src="~/js/error.js"></script>