
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/about.css" rel="stylesheet" type="text/css" />
}

<div id="about-div">
    <p id="about-heading-text">About</p>
    <div id="divider"></div>
    <p id="about-text">
        This is a website based on the <a href="https://en.wikipedia.org/wiki/List_of_academic_fields" target="_blank">Complete list of all academic disciplines</a> on Wikipedia.
        <br />
        <br />
        The intent of the website is to provide people looking to do Bachelor's, Master's or PhD's, with an overview of all that is available within academics.
        <br />
        <br />
        Further development of the project depends on feedback from <strong>You</strong>. If you think this website helped you in some way or if you think there is some room
        for improvement or if you just want to give any feedback, do contact me on <strong>contact.acapedia@gmail.com</strong>. I'll be looking forward to hearing from you.
        <br />
        <br />
        Good day!
    </p>
</div>
