
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/contact.css" rel="stylesheet" type="text/css" />
}

<div id="contact-div">
    <p id="contact-heading">Contact</p>
    <div id="divider"></div>
    <p id="contact-text">We're working on an email service in Acapedia. <br />
    For now, you can send all your suggestions, questions or anything you would like to share to: <br /> <br /> <strong>contact.acapedia@gmail.com</strong> </p>
</div>
