
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/contribute.css" rel="stylesheet" type="text/css"/>
}

<div id="contribute-div">
    <p id="contribute-heading">Contribute</p>
    <div id="divider"></div>
    <p id="contribute-text">
        If you think this website has helped you, give it a like or share at <a href="https://www.facebook.com/Acapedia-2066828886776328" target="_blank">facebook</a> or 
        <a href="https://twitter.com/aca_pedia" target="_blank">twitter</a>.
        <br />
        Want to share some critique or suggestion privately? You can contact on <strong>contact.acapedia@gmail.com</strong>.
    </p>
</div>
