
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/contribute.css" rel="stylesheet" type="text/css"/>
}

<div id="contribute-div">
    <p id="contribute-heading">Contribute</p>
    <div id="divider"></div>
    <p id="contribute-text">
        Further development of the website depends on feedback from users.
        <br />
        If you think this website has helped you or if you want to give any type of feedback you can contact me on <strong>contact.acapedia@gmail.com</strong>
        <br />
        <br />
        If you are from an organization which is looking for a Web, C# or a JavaScript Developer, do contact me on the email provided above with your official email as I 
        am <strong>currently looking for a job</strong>.
    </p>
</div>
