
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/contribute.css" rel="stylesheet" type="text/css"/>
}

<div id="contribute-div">
    <p id="contribute-heading">Contribute</p>
    <div id="divider"></div>
    <p id="contribute-text">
        Further development of the website depends on feedback from users.
        <br />
        <br />
        If you think this website has helped you, it would help me a lot if you could give it a like or share at <a href="https://www.facebook.com/Acapedia-2066828886776328" target="_blank">facebook</a> or 
        <a href="https://twitter.com/aca_pedia" target="_blank">twitter</a>.
        <br />
        Want to share some critique or suggestion privately? You can contact me on <strong>contact.acapedia@gmail.com</strong>.
        <br />
        <br />
        You can also show your support by Logging In using the button on the top right. 
        <br />
        It doesn't collect any info other than your profile details like username, email and avatar. And this info is shared
        with no one in any circumstance. To read more about our privacy policy click <a href="/Home/PrivacyPolicy">here</a>.
    </p>
</div>
