
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/error.css")" rel="stylesheet" type="text/css" />
}

<div id="error-info">
    <div id="error-type"></div>    
</div>

<script src="~/js/typed.js"></script>
<script src="~/js/error.js"></script>