
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/main-page.css")" rel="stylesheet" type="text/css" />
}

<div class="content">
    <div class="find">
        <p id="find-text">
            EXPLORE ALL ACADEMIC DISCIPLINES
        </p>
    </div>
    <div class="explore-button" onclick="location.href = '/Explore'">
        <p>
            EXPLORE
        </p>
        <div class="mask"></div>
    </div>
</div>