
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <link href="~/css/privacy.css" rel="stylesheet" type="text/css" />
}

<div id="privacy-policy-div">
    <div id="privacy-policy-heading-div">
        <img id="privacy-policy-image" src="~/icons/icon-main.svg" />
        <p id="privacy-policy-heading">ACAPEDIA DOES NOT COLLECT OR SHARE PERSONAL INFORMATION</p>
        <p id="privacy-policy-heading-text">That is our privacy policy in a nutshell.</p>
    </div>
    <div id="privacy-policy-text-div">
        <p id="privacy-policy-text">
            Other than the Log In information you provide us, nothing you do on the website or any data you send back to us or through our website to any other site, is tracked by us in any way.
        </p>
        <p id="privacy-policy-cookies">
            Cookies
        </p>
        <div class="divider"></div>
        <p id="privacy-policy-cookies-text">
            "Cookies," tags and scripts, and other similar technologies including local storage objects such as HTML5.
            These technologies allow us to manage access to and use of the Acapedia Services and recognize you after you have logged in.
            Some services might not work as expected (later when we add support for Log In based services), if your computer does not accept cookies from us.
            <br />
            We do <strong>not</strong> collect website usage information in any way.
        </p>
        <p id="privacy-policy-ads">
            Advertising
        </p>
        <div class="divider"></div>
        <p id="privacy-policy-ads-text">
            No ads from any third parties or directly from us are shown. <br />
            We plan to keep Acapedia free for use by anyone, anywhere.
        </p>
        <p id="privacy-policy-feedback">
            Feedback
        </p>
        <div class="divider"></div>
        <p id="privacy-policy-feedback-text">
            If you have any questions, concerns or suggestions, please submit <a href="/Home/Contact">feedback</a>
        </p>
    </div>
</div>